*{
	margin: 0;
	padding: 0;
}

.clear{
	clear: both;
}
.btn{
	margin-top: 30px;
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background-color: rgb(146, 204, 165);
}

.site{
	background-color: rgb(173, 172, 172);
	width: 960px;
	margin: 20px auto;
	border: 1px solid green;
	border-radius: 10px;
}

.header{
	margin: 10px 20px;
}

.nav{
	width: 220px;
	float: left;
}
.nav li {
	border-radius: 10px;

	list-style: none;
	height: 50px;	
	line-height: 50px;
	text-indent: 20px;
	background-color: #fff;
	border-bottom: 1px solid #000;
}
#web{
	text-transform: uppercase;
	font-weight: 600;
	background-color: rgb(162, 216, 126);
}

.up_info{
	width: 700px;
	height: 50px;
	float: left;
	border-radius: 10px;
	background-color: rgb(218, 152, 152);
}
.up_info h1{
	text-transform: uppercase;
	margin-left: 60px;
	float: left;
	line-height: 50px;
}

.up_info p{
	font-size: 12pt;
	margin-left: 80px;
	float: left;
	line-height: 50px;
}


.reclama{
	width: 700px;
	height: 307px;
	float: left;
	border-radius: 10px;
	background-color: rgb(119, 116, 116);
}

.reclama h1{
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	color: #fff;
}

.reclama p {
	margin: 20px 20px;
	font-family: monospace;
	text-indent: 50px;
	text-align: justify;
	font-size: 12pt;
}

.reclama button{
	display: block;
	margin: 20px auto;
	border-radius: 10px;
	text-transform: uppercase;
	width: 120px;
	height: 40px;
	background-color: rgb(102, 160, 79);
}

.forms{
	float: left;
	margin: 40px 25px;
	border-radius: 10px
}

.forms p {
	color: #000;
}

.content{
	width: 960px;
	background-color: #fff;
}

.news{
	border-radius: 10px;
	background-color: #fff;
	margin-left: 20px;
	width: 300px;
	float: left;
}

.new{
	border-radius: 10px;
	margin: 20px 20px;
	border: 1px solid black;

}


.new h1{
	border-radius: 10px;

	background-color: rgb(131, 212, 93);
	text-align: center;
}

.new p{
	text-align: justify;
	text-indent: 20px;
	padding: 10px;
	border: #000;
}

.new button{
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 12pt;
	text-align: center;
	width: 200px;
	height: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: aqua;
}



.contact_page{
	float: left;
	width: 580px;
	height: 500px;
	border: 2px solid green;
	border-radius: 10px;
	background-color: #fff;
	margin: 20px 20px;
}
.contact_page h1{
	text-align: center;
}
.inputs1{
	margin-left: 50px;
	background-color: #fff;
	width: 260px;
	float: left;
}

.inputs2{
	background-color: #fff;
	width: 260px;
	float: left;
}

.inputs1 p {
	margin-top: 20px;
}

.inputs2 p {
	margin-top: 20px;
}
.inputs1 button {
	margin-left: 90px;
}

.inputs2 button {
	margin-left: 0px;
}

.footer{
	width: 960px;
	height: 100px;
}

.blue_footer{
	background-color: aqua;
	width: 240px;
	height: 100px;
	float: left;
}

.footer_links{
	float: left;
}

.footer_links ul{
	width: 700px;
}

.footer_links ul li{
	float: left;
	list-style: none;
	line-height: 100px;
	font-size: 14pt;
	margin-left: 40px;
}